<div class="animated fadeIn fast">
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <div class="card shadow">
          <div class="card-header text-center bg-primary-color">
            <img src="assets/images/Encuba_ITCA.png" class="img-fluid" alt="Itca">
          </div>
          <div class="card-body">
            <form #resetPasswordForm="ngForm">
              <div class="form-group">
                <h2 class="text-primary-color text-center">Bienvenid@:</h2>
                <p class="text-justify">
                  Por motivos de seguridad es necesario cambiar tu contraseña de ingreso al Sistema.
                </p>
              </div>
              <!-- Nueva contraseña -->
              <div class="form-group">
                <label class="text-primary-color" for="newPassword">Nueva Contraseña</label>
                <div class="input-group">
                  <input type="{{credentials.showPassword ? 'text' : 'password'}}" placeholder="********"
                         name="newPassword" (keyup)="verifyPassword(credentials.newPassword, 'newPassword')"
                         [(ngModel)]="credentials.newPassword" class="form-control form-control-sm w-100">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary hand" type="button"
                            *ngIf="credentials.newPassword || credentials.repeatPassword"
                            (click)="toggleShowPasswords()">
                      <i class="fa" [ngClass]="{'fa-lock': !credentials.showPassword, 'fa-unlock': credentials.showPassword}"></i>
                    </button>
                  </div>
                </div>
                <small class="float-right" *ngIf="credentials.newPassword">Seguro: {{security.newPassword}}%
                  <progress id="newPassword" max="100" [value]="security.newPassword"></progress>
                </small>
              </div>
              <!-- Repetir contraseña -->
              <div class="form-group">
                <label class="text-primary-color" for="repeatPassword">Repita Contraseña</label>
                <input type="{{credentials.showPassword ? 'text' : 'password'}}" placeholder="********"
                       name="repeatPassword" (keyup)="verifyPassword(credentials.repeatPassword, 'repeatPassword')"
                       [(ngModel)]="credentials.repeatPassword" class="form-control form-control-sm w-100">
                <small class="float-right" *ngIf="credentials.repeatPassword">Seguro: {{security.repeatPassword}}%
                  <progress id="repeatPassword" max="100" [value]="security.repeatPassword"></progress>
                </small>
              </div>
              <!-- Alertas -->
              <div *ngIf="!credentials.valid && credentials.newPassword && credentials.repeatPassword"
                   class="alert alert-danger">
                <small *ngIf="security.newPassword < 60 || security.repeatPassword < 60">
                  <i class="fa fa-info mr-1"></i>Las contraseñas deben ser por lo mínimo mayor a 60% de seguras. <br>
                </small>
                <small *ngIf="credentials.password !== credentials.newPassword">
                  <i class="fa fa-info mr-1"></i>Las contraseñas no coinciden.
                </small>
              </div>
              <!-- Botón -->
              <div class="text-center mt-4">
                <button class="btn btn-sm bg-primary-color text-white w-100" [disabled]="!credentials.valid"
                        (click)="changePassword()">
                  <i class="fa fa-save mr-1"></i> Cambiar Contraseña y Continuar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
