<div class="row animated fadeIn fast" *ngIf="charging">
  <div class="col-md-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-3x"></i>
      <p class="mb-0">Por favor esperar...</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!charging">
  <div class="col-md-12">
    <h3 style="text-align: center; color: #004899;">COORDINADORES DE CARRERA</h3>
    <div class="card" style="border-radius: 15px;">
      <div class="card-body">
        <section [formGroup]="filtersForm">
          <div class="row pl-3 pr-3">
            <div class="col-3">
              <mat-form-field appearance="outline">
                <mat-label>Periodo Académico</mat-label>
                <mat-select formControlName="periodID" placeholder="Filtrar por Periodo Académico">
                  <mat-option *ngFor="let period of periods;" [value]="period.periodID">
                    {{ period.periodName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field appearance="outline">
                <mat-label>Buscar por profesional</mat-label>
                <input matInput formControlName="search" autocomplete="off" (input)="getCoordinators()">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-5" style="text-align: right;">
              <button type="button" mat-raised-button class="styleButton_sml" style="width: 155px;" data-toggle="modal" data-target="#coordinatorsModal" (click)="openModal(0)">Asignar carrera</button>
            </div>
          </div>
        </section>
        <div>
          <table class="table">
            <thead style="background-color: #004899; color: white;">
            <tr>
              <th class="footable-sortable">
                No. Documento
                <span class="footable-sort-indicator"></span>
              </th>
              <th class="footable-sortable">
                Profesional
                <span class="footable-sort-indicator"></span>
              </th>
              <th class="footable-sortable">
                Escuela
                <span class="footable-sort-indicator"></span>
              </th>
              <th class="footable-sortable">
                Carrera
                <span class="footable-sort-indicator"></span>
              </th>
              <th class="footable-sortable">
                Plan de estudios
                <span class="footable-sort-indicator"></span>
              </th>
              <th class="footable-sortable">
                Estado
                <span class="footable-sort-indicator"></span>
              </th>
              <th class="footable-sortable" style="text-align: center;">
                Acciones
                <span class="footable-sort-indicator"></span>
              </th>
            </tr>
            </thead>
            <tbody style="color: black;">
            <tr *ngFor="let item of coordinatorsList" class="footable-even" style="text-transform: uppercase;">
              <td><small>{{item.PersonDocumentNumber}}</small></td>
              <td><small>{{item.coordinator}}</small></td>
              <td><small>{{item.schoolName}}</small></td>
              <td><small>{{item.careerName}}</small></td>
              <td><small>{{item.studyPlanDesc}}</small></td>
              <td>
                <small>
                  <ng-container *ngIf="item.statusID == 1">Activo</ng-container>
                  <ng-container *ngIf="item.statusID == 0">Inactivo</ng-container>
                </small>
              </td>
              <td style="text-align: center;">
                <a type="button"
                  matTooltipPosition="above"
                  matTooltip="Activar"
                  style="cursor: pointer; color: red;" *ngIf="item.statusID === 0" (click)="statusCoordinator(item, 1)"><i class="fa fa-toggle-off" aria-hidden="true"></i>
                </a>
                <a type="button"
                  matTooltipPosition="above"
                  matTooltip="Inactivar"
                  style="cursor: pointer; color: blue;" *ngIf="item.statusID === 1" (click)="statusCoordinator(item, 0)"><i class="fa fa-toggle-on" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <mat-paginator
          #paginator
          [length]="length"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="pageEvent = changePageCoordinators($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="coordinatorsModal" tabindex="-1" aria-labelledby="coordinatorsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height: 40px;">
        <div class="col-md-5">
          <h3 class="modal-title" id="coordinatorsModalLabel"><br>{{title}}</h3>
        </div>
        <div class="col-md-1">
          <button type="button" id="btn_close" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="coordinatorsForm"
                autocomplete="off"
                (submit)="onSubmitCoordinators()">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Búsqueda por profesional</mat-label>
                      <input type="text" matInput formControlName="search" (input)="searchCoordinators()">
                      <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Documento de identidad</mat-label>
                      <input readonly="true" type="text" matInput formControlName="document">
                      <mat-error>
                        Campo <strong>requerido</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Nombres y apellido</mat-label>
                      <input readonly="true" type="text" matInput formControlName="coordinator">
                      <mat-error>
                        Campo <strong>requerido</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field appearance="outline">
                      <mat-label>Carreras</mat-label>
                      <mat-select formControlName="careerID" multiple="true" placeholder="Seleccione la carrera">
                        <mat-option *ngFor="let item of careers" [value]="item.careerID">{{item.careerName}}</mat-option>
                      </mat-select>
                      <mat-error>
                        Campo <strong>requerido</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field appearance="outline">
                      <mat-label>Periodo Académico</mat-label>
                      <mat-select formControlName="periodID" placeholder="Filtrar por Periodo Académico">
                        <mat-option *ngFor="let period of periods;" [value]="period.periodID">
                          {{ period.periodName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <button type="submit" mat-raised-button class="styleButton_sml" style="width: 100px;">
                      Guardar
                    </button>
                  </div>
                  <div class="col-md-3">
                    <button type="button" mat-raised-button class="styleButton_gray" style="width: 100px;" data-dismiss="modal" #modalClose>Cerrar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
