::ng-deep .mat-horizontal-stepper-header{
	pointer-events: none !important;
}

::ng-deep .mat-vertical-stepper-header{
	pointer-events: none !important;
}

.red {
	color: red;
}

.yellow {
	color: yellow;
}

.green {
	color: green;
}
