<div class="animated fadeIn fast">
  <div class="row pl-4 pr-4">
    <div class="col-3">
      <div class="card">
        <div class="card-body" style="text-align: center;">
          <a href="/administracion/periodos">
            <h3 style="color: black;">
              Periodo Académico
              <p style="font-size: 50px;">
                <i class="fa fa-graduation-cap"></i>
              </p>
            </h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body" style="text-align: center;">
          <a href="/administracion/modalidad">
            <h3 style="color: black;">
              Modalidades
              <p style="font-size: 50px;">
                <i class="fa fa-desktop"></i>
              </p>
            </h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body" style="text-align: center;">
          <a href="/administracion/sede">
            <h3 style="color: black;">
              Sedes
              <p style="font-size: 50px;">
                <i class="fa fa-university"></i>
              </p>
            </h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body" style="text-align: center;">
          <a href="/administracion/edificio">
            <h3 style="color: black;">
              Edificios
              <p style="font-size: 50px;">
                <i class="fa fa-building-o"></i>
              </p>
            </h3>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row pl-4 pr-4">
    <div class="col-3">
      <div class="card">
        <div class="card-body" style="text-align: center;">
          <a href="/administracion/escuelas">
            <h3 style="color: black;">
              Escuelas
              <p style="font-size: 50px;">
                <i class="fa fa-folder-open-o"></i>
              </p>
            </h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body" style="text-align: center;">
          <a href="/administracion/carreras">
            <h3 style="color: black;">
              Carreras
              <p style="font-size: 50px;">
                <i class="fa fa-list-alt"></i>
              </p>
            </h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body" style="text-align: center;">
          <a href="/administracion/asignaturas">
            <h3 style="color: black;">
              Asignaturas
              <p style="font-size: 50px;">
                <i class="fa fa-book"></i>
              </p>
            </h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body" style="text-align: center;">
          <a href="/tics/coordinadores">
            <h3 style="color: black;">
              Coordinadores
              <p style="font-size: 50px;">
                <i class="fa fa-users"></i>
              </p>
            </h3>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row pl-4 pr-4">
    <div class="col-3">
      <div class="card">
        <div class="card-body" style="text-align: center;">
          <a href="/gestion-academica">
            <h3 style="color: black;">
              Calendario Académico
              <p style="font-size: 50px;">
                <i class="fa fa-calendar"></i>
              </p>
            </h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body" style="text-align: center;">
          <a href="/distributivo/modelador">
            <h3 style="color: black;">
              Distributivo
              <p style="font-size: 50px;">
                <i class="fa fa-tasks"></i>
              </p>
            </h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body" style="text-align: center;">
          <a href="/tics/configuraciones">
            <h3 style="color: black;">
              Configuraciones
              <p style="font-size: 50px;">
                <i class="fa fa-cogs"></i>
              </p>
            </h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body" style="text-align: center;">
          <a href="/administracion/administracion-de-procesos">
            <h3 style="color: black;">
              Configuración Inscripción
              <p style="font-size: 50px;">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </p>
            </h3>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br>
    <div class="row pl-4 pr-4">
      <div class="col-3">
        <div class="card">
          <div class="card-body" style="text-align: center;">
            <a href="/integracion-con-moodle/configuracion">
              <h3 style="color: black;">
                Nivelación / Moodle
                <p style="font-size: 50px;">
                  <i class="fa fa-window-restore" aria-hidden="true"></i>
                </p>
              </h3>
            </a>
          </div>
        </div>
      </div>
    </div>

</div>
