<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="card" style="margin-bottom: -10px;">
            <div class="card-body">
                <form [formGroup]="parallelForm" autocomplete="off" (submit)="saveParallel()">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="width" appearance="outline">
                                <mat-label>Codigo</mat-label>
                                <input formControlName="parallelCode" type="text" matInput>
                                <mat-error
                                    *ngIf="isValidField('parallelCode')">{{getFielError('parallelCode')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="width" appearance="outline">
                                <mat-label>Descripcion</mat-label>
                                <input formControlName="parallelDesc" type="text" matInput>
                                <mat-error
                                    *ngIf="isValidField('parallelDesc')">{{getFielError('parallelDesc')}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                            <button type="submit" class="styleButton" mat-raised-button color="primary">
                                <i class="fa fa-floppy-o"></i>
                                Guardar Paralelo
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>