<div class="animated fadeIn fast">
  <form [formGroup]="disabilityInfoForm">
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h2>Información de Discapacidad</h2>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="form-row">
              <div class="col-12 mb-3">
                ¿Tiene algún tipo de discapacidad?
                <button class="btn btn-sm" [disabled]="existsPostulation" [ngClass]="{'btn-light': !hasDisability, 'btn-success': hasDisability}" (click)="toggleDisability()">
                  {{!hasDisability ? 'No' : 'Si'}}
                </button>
              </div>
              <ng-container *ngIf="hasDisability">
                <div class="col-12">
                  <div class="form-row">
                    <div class="col-8">
                      <mat-form-field class="width" appearance="outline">
                        <mat-label>Tipo de Discapacidad</mat-label>
                        <mat-select formControlName="disabilityID">
                            <mat-option *ngFor="let d of disabilities" [value]="d.disabilityID">{{d.disabilityDesc}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="addressForm.hasError('required', 'provinceAddress')">
                            Sede es <strong>requerida</strong>
                        </mat-error> -->
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <div class="form-row">
                        <div class="col-4 text-right">
                          <mat-form-field class="width" appearance="outline">
                            <mat-label>Porcentaje</mat-label>
                            <input type="number" matInput min="1" (change)="updateDisability()" (keyup)="updateDisability()" max="100" formControlName="percentageDisability">
                            <!-- <mat-error *ngIf="isValidField('teachingContact')">{{getFielError('teachingContact')}}</mat-error> -->
                          </mat-form-field>
                          <!-- <strong *ngIf="disabilityInfoForm.get('percentageDisability').value">{{disabilityInfoForm.get('percentageDisability').value}}%</strong> -->
                        </div>
                        <div class="col-8">
                          <mat-slider min="1" max="100" step="1" (change)="updateDisability()" value="50" style="width: 100%;">
                            <input matSliderThumb formControlName="percentageDisability">
                          </mat-slider>
                        </div>
                      </div>
                    </div>
                  </div>  
                </div>
                <div class="col-12">
                  <mat-form-field class="width" appearance="outline">
                    <mat-label>Descripción de la Discapacidad</mat-label>
                    <textarea matInput formControlName="commentary"></textarea>
                    <!-- <mat-error *ngIf="isValidField('teachingContact')">{{getFielError('teachingContact')}}</mat-error> -->
                  </mat-form-field>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 text-left mt-3">
        <a class="btn btn-light text-primary-color" [routerLink]="['../../informacion-de-contacto', userId]">
          <i class="fa fa-arrow-left mr-1"></i>Volver
        </a>
      </div>
      <div class="col-6 text-right mt-3">
        <button class="btn bg-primary-color text-white" [disabled]="disabilityInfoForm.invalid && hasDisability" (click)="toContinue()">
          Continuar<i class="fa fa-arrow-right ml-1"></i>
        </button>
      </div>
    </div>
  </form>
</div>