<div style="display: flex; justify-content: end; align-items: center; background: #27a8db;" class="p-2 mb-3">
<!--  <span style="font-size: large; font-weight: 400; color: black;">FORMULARIO DE Calendario</span>-->
  <mat-icon style="cursor: pointer;" [matDialogClose]="false" class="white-icon" matRipple>close</mat-icon>
</div>

<mat-dialog-content>
<!--  <h3 class="text-center mb-4 text-uppercase" style="color: #27a8db; font-weight: 600; font-size: large; letter-spacing: 1px;">Formulario de Calendario</h3>-->

  <form [formGroup]="form">
    <div class="row pt-3">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <input placeholder="Ej: Semana del Libro" matInput formControlName="eventName" type="text">
          <mat-label>Nombre del Calendario</mat-label>
          <mat-error *ngIf="form.hasError('required', 'eventName')">Este campo es requerido</mat-error>
          <mat-error *ngIf="form.hasError('maxlength', 'eventName')">Este campo excede el límite de caracteres permitidos</mat-error>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field appearance="outline">
          <input placeholder="Ej: Promover la Lectura" matInput formControlName="eventDesc" type="text">
          <mat-label>Descripción del Calendario</mat-label>
          <mat-error *ngIf="form.hasError('required','eventDesc')">Este campo es requerido</mat-error>
          <mat-error *ngIf="form.hasError('maxlength', 'eventDesc')">Este campo excede el límite de caracteres permitidos</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field appearance="outline">
          <input placeholder="De Este Color se Mostrará el Fondo" matInput formControlName="background" type="color">
          <mat-label>Color de Fondo</mat-label>
          <mat-error *ngIf="form.hasError('required', 'background')">Este campo es requerido</mat-error>
          <mat-error *ngIf="form.hasError('pattern', 'background')">Sólo se admiten hexadecimales para este campo</mat-error>
          <mat-error *ngIf="form.hasError('maxlength', 'background')">Este campo excede el límite de caracteres permitidos</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field appearance="outline">
          <input placeholder="Haz que Este Color Contraste Con el Fondo" matInput formControlName="color" type="color">
          <mat-label>Color de Texto</mat-label>
          <mat-error *ngIf="form.hasError('required', 'color')">Este campo es requerido</mat-error>
          <mat-error *ngIf="form.hasError('pattern', 'color')">Sólo se admiten hexadecimales para este campo</mat-error>
          <mat-error *ngIf="form.hasError('maxlength', 'color')">Este campo excede el límite de caracteres permitidos</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
    <div>
<!--      <button mat-button [mat-dialog-close]="false" color="warn">Cerrar</button>-->
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="sendForm()">
        {{ data?.event ? 'Guardar ' : 'Crear ' }}Calendario
<!--        <mat-icon class="ml-2">-->
<!--          <mat-spinner diameter="20"></mat-spinner>-->
<!--        </mat-icon>-->
      </button>
    </div>
</mat-dialog-actions>
