<div class="animated fadeIn fast">
  <div class="row width">
    <div class="col-md-12">
      <div class="card" >
        <div class="card-body" style="margin-bottom: -16px;">
          <div class="animated fadeIn fast" *ngIf="cargando">
            <div class="col-md-12">
              <div class="alert alert-info text-center">
                <h4 class="alert-heading">Cargando</h4>
                <i class="fa fa-spin fa-refresh fa-3x"></i>
                <p class="mb-0">Por favor esperar...</p>
              </div>
            </div>
          </div>
          <!--<div class="row" style="margin-left: 10px;" *ngIf="!cargando"><br>
              <div class="col-md-2.5">
                <div class="card bg-info" style="border-radius: 10px;">
                  <div class="card-body">
                    <div class="d-flex no-block">
                      <div class="align-self-center"><img src="assets/images/Icono_ITCA.png" style="width: 70px;" alt="Income"></div>&nbsp;
                      <div class="align-self-center" *ngIf="currentPeriod">
                        <h5 class="text-white">{{currentPeriod.periodName | uppercase}}</h5><br>
                        <h5 class="text-white" style="margin-top: -20px; margin-bottom: -10px;">{{currentPeriod.periodDateStart}} / {{currentPeriod.periodDateEnd}}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>&nbsp;
              <div class="col-md-1.5">
                <div class="card bg-info" style="border-radius: 10px;">
                  <div class="card-body">
                    <div class="d-flex no-block">
                      <div>
                        <h6 class="text-white">Postulantes</h6>
                        <h2 class="text-white" style="margin-top: -20px; margin-bottom: -4px;">1250</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>&nbsp;
              <div class="col-md-1.5">
                  <div class="card bg-info" style="border-radius: 10px;">
                    <div class="card-body">
                      <div class="d-flex no-block">
                        <div >
                          <h6 class="text-white">Estudiantes</h6>
                          <h2 class="text-white" style="margin-top: -20px; margin-bottom: -4px;">1254</h2>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>&nbsp;
              <div class="col-md-2.5">
                <div class="card bg-secondary" style="border-radius: 10px;">
                  <div class="card-body">
                    <div class="d-flex no-block">
                      <div class="align-self-center"><img src="assets/images/Icono_ITCA.png" style="width: 70px;" alt="Income"></div>&nbsp;
                      <div class="align-self-center" *ngIf="pastPeriod">
                        <h5 class="text-white">{{pastPeriod.periodName | uppercase}}</h5><br>
                        <h5 class="text-white" style="margin-top: -20px; margin-bottom: -10px;">{{pastPeriod.periodDateStart}} / {{pastPeriod.periodDateEnd}}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>&nbsp;
                <div class="col-md-1.5">
                  <div class="card bg-secondary" style="border-radius: 10px;">
                    <div class="card-body">
                      <div class="d-flex no-block">
                        <div class="align-self-center">
                          <h6 class="text-white">Postulantes</h6>
                          <h2 class="text-white" style="margin-top: -20px; margin-bottom: -4px;">1250</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>&nbsp;
              <div class="col-md-1.5">
                <div class="card bg-secondary" style="border-radius: 10px;">
                  <div class="card-body">
                    <div class="d-flex no-block">
                      <div class="align-self-center">
                        <h6 class="text-white">Estudiantes</h6>
                        <h2 class="text-white" style="margin-top: -20px; margin-bottom: -4px;">1254</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>&nbsp;
            </div> -->

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div *ngIf="!cargando">
            <div class="row pl-2 pr-2">
              <div class="col-md-3"><components-input-search [label]="'Busqueda por Periodo Académico'" (return)="search($event)"></components-input-search></div>
              <div class="col-md-9" style="text-align: right;"><button type="button" mat-raised-button class="styleButton_sml" style="width: 142px;" data-toggle="modal" data-target="#exampleModal" (click)="openModal(0)">Agregar</button></div>
            </div>
            <div class="table-responsive">
              <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list footable-loaded footable" data-page-size="10">
                <thead style="background-color: #004899; color: white;">
                <tr>
                  <th class="footable-sortable">Nombre Periodo Académico<span class="footable-sort-indicator"></span></th>
                  <th class="footable-sortable">Descripción<span class="footable-sort-indicator"></span></th>
                  <th class="footable-sortable">Fecha Inicio-Fin<span class="footable-sort-indicator"></span></th>
                  <!-- <th class="footable-sortable">Postulantes<span class="footable-sort-indicator"></span></th> -->
                  <th class="footable-sortable">Estado<span class="footable-sort-indicator"></span></th>
                  <!-- <th class="footable-sortable">Action<span class="footable-sort-indicator"></span></th> -->
                  <th class="footable-sortable" style="text-align: center;">Acciones</th>
                </tr>
                </thead>
                <tbody style="color: black;">
                <tr class="footable-even" *ngFor="let period of periodsList">
                  <td>{{period.periodName | uppercase}}</td>
                  <td>{{period.periodDetail | uppercase}}</td>
                  <td>{{period.periodDateStart}} / {{period.periodDateEnd}}</td>
                  <!-- <td>1254</td>
                  <td>2457</td> -->
                  <td>{{period.state}}</td>
                  <!-- <td>
                      <button type="button" class="btn btn-icon btn-pure btn-outline" style="margin-top: -12px; margin-bottom:-15px;" data-toggle="tooltip" data-original-title="Ver Periodo"><i class="ti-eye text-danger" aria-hidden="true"></i></button>
                  </td> -->
                  <td style="text-align: center;"><a type="button"
                    matTooltipPosition="above"
                    matTooltip="Editar"
                    style="cursor: pointer; color: green;" data-toggle="modal" data-target="#exampleModal" (click)="openModal(1, period)"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                </tr>
                </tbody>
              </table>
            </div>
            <components-button-arrow [actual]="actual" [totalPage]="totalPage" [count]="count" (result)="changePage($event)"></components-button-arrow>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-container>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="height: 40px;">
          <div class="col-md-6">
            <h3 class="modal-title" id="exampleModalLabel"><br>{{title}}</h3>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #modalClose>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="row animated fadeIn fast" *ngIf="cargando">
                  <div class="col-md-12">
                    <div class="alert alert-info text-center">
                      <h4 class="alert-heading">Cargando</h4>
                      <i class="fa fa-spin fa-refresh fa-3x"></i>
                      <p class="mb-0">Por favor esperar...</p>
                    </div>
                  </div>
                </div>
                <form (submit)="onSubmit()"
                      autocomplete="off"
                      [formGroup]="newPeriodFrom"
                      *ngIf="!cargando">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline" class="width">
                        <mat-label>Fecha inicio Periodo Académico</mat-label>
                        <input type="date" formControlName="periodDateStart" #periodDateStart matInput (click)="periodDateStart.showPicker()">
                        <mat-icon style="cursor: pointer;" matSuffix (click)="periodDateStart.showPicker()">calendar_month</mat-icon>
                        <mat-hint>dd/mm/aaaa</mat-hint>
                        <mat-error *ngIf="!newPeriodFrom.get('periodDateStart')?.value">
                          Fecha vigencia periodo es <strong>requerido</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field appearance="outline" class="width">
                        <mat-label>Fecha fin Periodo Académico</mat-label>
                        <input type="date" formControlName="periodDateEnd" #periodDateEnd matInput (click)="periodDateEnd.showPicker()">
                        <mat-icon style="cursor: pointer;" matSuffix (click)="periodDateEnd.showPicker()">calendar_month</mat-icon>
                        <mat-hint>dd/mm/aaaa</mat-hint>
                        <mat-error *ngIf="!newPeriodFrom.get('periodDateEnd')!.value">
                          Fecha vigencia periodo es <strong>requerido</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-12">
                      <mat-form-field class="width" appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input type="text" matInput formControlName="periodName" >
                        <mat-error *ngIf="!newPeriodFrom.get('periodName')?.value">
                          Nombre periodo es <strong>requerido</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-12">
                      <mat-form-field class="width" appearance="outline">
                        <mat-label>Descripción</mat-label>
                        <textarea type="text" matInput formControlName="periodDetail" [errorStateMatcher]="matcher" style="text-transform:uppercase"></textarea>
                        <mat-error *ngIf="!newPeriodFrom.get('periodDetail')?.value">
                          Descripción es <strong>requerido</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-12">
                      <button type="submit" mat-raised-button class="styleButton_sml" style="width: 100px;">Guardar</button>&nbsp;
                      <button type="button" mat-button class="styleButton_gray" style="width: 100px;" data-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
