mat-slider {
  width: 500px;
  .custom-slider .mat-mdc-slider {
    .mdc-slider__track{
      background-color: red; /* Set your desired color for the track */
    }
    background-color: red; /* Set your desired color for the track */
  }
}




