
.green-button {
    color: white !important;
    background: #28a745 !important;
    font-size: 85%;
    letter-spacing: 0;
}

.blue-button {
	color: white !important;
	background: #014898 !important;
	font-size: 85%;
	letter-spacing: 0;
}
