<div class="row animated fadeIn fast" *ngIf="charging">
  <div class="col-md-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-3x"></i>
      <p class="mb-0">Por favor esperar...</p>
    </div>
  </div>
</div>

<mat-tab-group mat-stretch-tabs="false">
  <mat-tab label="Homologaciones externas">
    <ng-template matTabContent><br>
      <div class="col-md-3" *ngIf="!charging">
        <button type="button" mat-raised-button class="styleButton_sml" style="max-width: 180px;" data-toggle="modal" data-target="#studentModal" (click)="resetForms(); getAllSchools()">Agregar Estudiante</button>
      </div>
      <br>
      <div class="row pr-2 pl-2" *ngIf="!charging">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="approvalsForm"
                    (submit)="onSubmitApprovals()">
                <div class="row">
                  <div class="col-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Buscar por estudiante</mat-label>
                      <input matInput autocomplete="off" #search formControlName="search" (input)="searchStudent(search.value)">
                      <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Documento de referencia (Homologación)</mat-label>
                      <input matInput autocomplete="off" formControlName="documentReferences">
                      <mat-error>Campo requerido</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Nro de documento</mat-label>
                      <input matInput autocomplete="off" formControlName="personDocumentNumber">
                      <mat-error>Campo requerido</mat-error>
                    </mat-form-field>
                  </div><div class="col-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Nombres</mat-label>
                      <input matInput autocomplete="off" formControlName="personFirstName">
                      <mat-error>Campo requerido</mat-error>
                    </mat-form-field>
                  </div><div class="col-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Apellido Paterno</mat-label>
                      <input matInput autocomplete="off" formControlName="personMiddleName">
                      <mat-error>Campo requerido</mat-error>
                    </mat-form-field>
                  </div><div class="col-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Apellido Materno</mat-label>
                      <input matInput autocomplete="off" formControlName="personLastName">
                      <mat-error>Campo requerido</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Sede</mat-label>
                      <mat-select formControlName="campusID" (selectionChange)="getPeriodsByCampus($event.value)">
                        <mat-option *ngFor="let item of campuses" [value]="item.campusID">{{ item.campusDetail }}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field class="width" appearance="outline" *ngIf="currentPeriod">
                      <mat-label>Periodo Académico</mat-label>
                      <mat-select formControlName="periodID">
                        <mat-option [value]="currentPeriod.periodID">{{ currentPeriod.periodName }}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Escuela</mat-label>
                      <mat-select formControlName="schoolID" (selectionChange)="getCareersBySchool($event.value);">
                        <mat-option *ngFor="let item of schools" [value]="item.schoolID">{{ item.schoolName }}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field class="width" appearance="outline">
                      <!-- Al seleccionar una carrera, se traen las mallas de esa carrera -->
                      <!-- Al seleccionar una carrera, se traen las modalidades -> Carrera -->
                      <mat-label>Carrera</mat-label>
                      <mat-select formControlName="careerID" (selectionChange)="getStudyPlansByCareer($event.value); getModalitiesByCareer($event.value);">
                        <mat-option *ngFor="let item of careers" [value]="item.careerID">{{item.careerName}}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Malla Curricular</mat-label>
                      <mat-select formControlName="studyPlanID">
                        <mat-option *ngFor="let item of studyPlans" [value]="item.studyPlanID"> {{ item.studyPlanDesc }}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Modalidad</mat-label>
                      <mat-select formControlName="modalityID">
                        <mat-option *ngFor="let item of modalities" [value]="item.modalityID">{{ item.modalityName }}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Pais</mat-label>
                      <mat-select formControlName="countryID" (selectionChange)="getInstitutionByCountry($event.value)">
                        <mat-option *ngFor="let item of countries" [value]="item.countryID">{{item.countryName}}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Institución de Origen</mat-label>
                      <mat-select formControlName="institutionID">
                        <mat-option *ngFor="let item of institutions" [value]="item.institutionID">{{item.institutionName}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </form>

              <form [formGroup]="homologationForm"
                    (submit)="onSubmitHomologation()">
                <div class="row">
                  <div class="col-6">
                    <div class="card">
                      <div class="card-body" formArrayName="news">
                        <div class="row">
                          <div class="col-11">
                            <h2>Origen</h2>
                          </div>
                          <div class="col-1">
                            <a style="cursor: pointer;" matTooltipPosition="above" matTooltip="Agregar Asignatura"
                              (click)="addNewsRow()">
                              <h2><i class="fa fa-plus-circle" aria-hidden="true"></i></h2>
                            </a>
                          </div>
                        </div>
                        <div class="row" *ngFor="let item of gethomologationFormControl().controls; let i=index" [formGroupName]="i">
                          <div class="col-4" style="height: 55px;">
                            <label>Asignatura {{i+1}}</label>
                          </div>
                          <div class="col-7"></div>
                          <div class="col-1" style="text-align: right;">
                            <a matTooltipPosition="after" matTooltip="Eliminar registro"
                              (click)="removeOriginRow(i)" *ngIf="i > 0">
                              <label style="color: red;"><i style="cursor: pointer;" class="fa fa-minus-circle" aria-hidden="true"></i></label>
                            </a>
                          </div>
                          <div class="col-12">
                            <mat-form-field appearance="outline">
                              <mat-label>Periodo Académico</mat-label>
                              <input matInput autocomplete="off" formControlName="periodSource">
                              <mat-error>Campo requerido</mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Asignatura</mat-label>
                              <input matInput autocomplete="off" formControlName="courseName">
                              <mat-error>Campo requerido</mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-3">
                            <mat-form-field appearance="outline">
                              <mat-label>Créditos</mat-label>
                              <input type="number" matInput autocomplete="off" formControlName="creditSource">
                              <mat-error>Campo requerido</mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-3">
                            <mat-form-field appearance="outline">
                              <mat-label>Promedio</mat-label>
                              <input type="number" matInput autocomplete="off" formControlName="gradeSource">
                              <mat-error>Campo requerido</mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="card">
                      <div class="card-body" formArrayName="news">
                        <div class="col-12">
                          <h2>Destino</h2>
                        </div>
                        <div class="row" *ngFor="let item of gethomologationFormControl().controls; let i=index" [formGroupName]="i">
                          <div class="col-4">
                            <label>Asignatura {{i+1}}</label>
                          </div>
                          <div class="col-2"></div>
                          <div class="col-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Tipo</mat-label>
                              <mat-select placeholder="Seleccione el Tipo" formControlName="recognitionTypeID">
                                <mat-option *ngFor="let item of retrieveTypes" [value]="item.recognitionTypeID">{{item.recognitionTypeName}}</mat-option>
                              </mat-select>
                              <mat-error>Campo requerido</mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Nivel</mat-label>
                              <mat-select placeholder="Seleccione el Nivel" (selectionChange)="getCoursesDetail($event.value, i)">
                                <mat-option *ngFor="let cycle of cycles" [value]="cycle.cycleID">{{cycle.cycleName}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Asignatura</mat-label>
                              <mat-select placeholder="Seleccione el Asignatura" formControlName="courseID">
                                <mat-option *ngFor="let course of gethomologationFormControl().controls[i].get('courses').value" [value]="course.courseID"
                                  (onSelectionChange)="setCredits(course, i)">
                                  {{course.courseName}}
                                </mat-option>
                              </mat-select>
                              <mat-error>Campo requerido</mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-3">
                            <mat-form-field appearance="outline">
                              <mat-label>Créditos</mat-label>
                              <input type="number" matInput autocomplete="off" formControlName="creditFate">
                              <mat-error>Campo requerido</mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-3">
                            <mat-form-field appearance="outline">
                              <mat-label>Promedio</mat-label>
                              <input type="number" matInput autocomplete="off" formControlName="gradeFate">
                              <mat-error>Campo requerido</mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Documento de referencia (Suficiencia)</mat-label>
                              <input matInput autocomplete="off" formControlName="documentReferences">
                              <mat-error>Campo requerido</mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <br>
              <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                  <button type="button" mat-raised-button class="styleButton_sml" style="width: 100px;" (click)="postInstitution()">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Homologaciones internas">
    <ng-template matTabContent><br>
      <component-approvals></component-approvals>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<!-- studentModal -->
<div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="studentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height: 40px;">
        <div class="col-md-6">
          <h3 class="modal-title" id="studentModalLabel"><br>Agregar Estudiante</h3>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #modalClose (click)="resetForms()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row animated fadeIn fast" *ngIf="chargingModal">
          <div class="col-md-12">
            <div class="alert alert-info text-center">
              <h4 class="alert-heading">Cargando</h4>
              <i class="fa fa-spin fa-refresh fa-3x"></i>
              <p class="mb-0">Por favor esperar...</p>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="!chargingModal">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="personForm"
                    (submit)="onSubmitPerson()">
                <div class="row">
                  <div class="col-6">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Tipo de Documento</mat-label>
                      <mat-select formControlName="typeDocID">
                        <mat-option *ngFor="let item of documentTypes" [value]="item.typeDocId">{{item.typeDocName}}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Número de Documento</mat-label>
                      <input type="text" minlength="10" #input matInput formControlName="personDocumentNumber" onKeypress="if (event.keyCode < 47 || event.keyCode > 57) event.returnValue = false;">
                      <mat-icon matSuffix style="cursor: pointer;" matTooltipPosition="above" matTooltip="Registro Civíl" (click)="registoCivil(input.value)">search</mat-icon>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Nombres</mat-label>
                      <input type="text" matInput formControlName="personFirstName">
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Apellido Paterno</mat-label>
                      <input type="text" matInput formControlName="personMiddleName">
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Apellido Materno</mat-label>
                      <input type="text" matInput formControlName="personLastName">
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <form [formGroup]="studentForm"
                    (submit)="onSubmitStudent()">
                <div class="row">
                  <div class="col-4">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Correo Electrónico</mat-label>
                      <input type="mail" matInput formControlName="p_recoveryEmail">
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field color="accent" appearance="outline" class="width">
                      <mat-label>Fecha de Nacimiento</mat-label>
                      <input matInput [matDatepicker]="birthday" formControlName="birthday">
                      <mat-hint>DD/MM/AAAA</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="birthday"></mat-datepicker-toggle>
                      <mat-datepicker #birthday color="primary"></mat-datepicker>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Estado Civil</mat-label>
                      <mat-select formControlName="civilStatusID">
                          <mat-option *ngFor="let i of civilStatuses" [value]="i.civilStatusID">{{i.civilStatusDesc}}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Genero</mat-label>
                      <mat-select formControlName="genderID">
                          <mat-option *ngFor="let i of genders" [value]="i.genderID">{{i.genderDesc}}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Sexo</mat-label>
                      <mat-select formControlName="sexID">
                          <mat-option *ngFor="let item of sexList" [value]="item.sexID">{{item.sexDesc}}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Tipo de Sangre</mat-label>
                      <mat-select formControlName="bloodTypeID">
                        <mat-option *ngFor="let i of bloodTypes" [value]="i.bloodTypeID">{{i.bloodTypeDesc}}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Nacionalidad</mat-label>
                      <mat-select formControlName="nationalityID">
                        <mat-option *ngFor="let i of nationalities" [value]="i.countryID">{{i.nationality_1}}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>País</mat-label>
                      <mat-select formControlName="countryID">
                        <mat-option *ngFor="let i of countries" [value]="i.countryID">{{i.countryName}}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Provincia</mat-label>
                      <mat-select formControlName="provinceID" (selectionChange)="getCantons($event)">
                        <mat-option *ngFor="let i of provinces" [value]="i.provinceID">{{i.provinceName}}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Cantón</mat-label>
                      <mat-select formControlName="cantonID" (selectionChange)="getParish($event)">
                        <mat-option *ngFor="let i of cantons" [value]="i.cantonID">{{i.cantonName}}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Parroquia</mat-label>
                      <mat-select formControlName="parishID">
                        <mat-option *ngFor="let item of parishes" [value]="item.parishID">{{item.parishName}}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label><small>Autoidentificación</small></mat-label>
                      <mat-select formControlName="ethnicityID">
                          <mat-option *ngFor="let item of culturalGroups" [value]="item.ethnicityID" (onSelectionChange)="changeEtnia()">{{item.ethnicityDesc}}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4" *ngIf="nationalTownsList.length > 0">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label><small>Pueblos y Nacionalidades</small></mat-label>
                      <mat-select formControlName="nationalTownID">
                          <mat-option *ngFor="let item of nationalTownsList" [value]="item.nationalTownID">{{item.nationalTownDesc}}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <form [formGroup]="studentDetailForm"
                    (submit)="onSubmitStudentDetail()">
                <div class="row">
                  <div class="col-4">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Escuela</mat-label>
                      <mat-select formControlName="schoolID" (selectionChange)="getCareersBySchool($event.value);">
                        <mat-option *ngFor="let item of schools" [value]="item.schoolID">{{ item.schoolName }}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="width" appearance="outline">
                      <!-- Al seleccionar una carrera, se traen las mallas de esa carrera -->
                      <!-- Al seleccionar una carrera, se traen las modalidades -> Carrera -->
                      <mat-label>Carrera</mat-label>
                      <mat-select formControlName="careerID" (selectionChange)="getStudyPlansByCareer($event.value); getModalitiesByCareer($event.value);">
                        <mat-option *ngFor="let item of careers" [value]="item.careerID">{{item.careerName}}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <!-- Al seleccionar una malla, se traen los ciclos -> Periodo, Escuela y Plan de Estudio -->
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Malla Curricular</mat-label>
                      <mat-select formControlName="studyPlanID">
                        <mat-option *ngFor="let item of studyPlans" [value]="item.studyPlanID"> {{ item.studyPlanDesc }}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="width" appearance="outline">
                      <mat-label>Modalidad</mat-label>
                      <mat-select formControlName="modalityID">
                        <mat-option *ngFor="let item of modalities" [value]="item.modalityID">{{ item.modalityName }}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido!</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-md-2">
                  <button type="submit" mat-raised-button class="styleButton_sml" style="width: 100px;" (click)="onSubmitPerson()">Guardar</button>
                </div>
                <div class="col-md-2">
                  <button type="button" mat-raised-button class="styleButton_gray" style="width: 100px;" data-dismiss="modal" (click)="resetForms()">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
